<?xml version="1.0" encoding="UTF-8"?>
<con:restMockService id="a0748aa9-d81d-4657-9b23-e0ac0d0faf6a" port="8088" path="/" host="localhost" name="with a space Virtual Service" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="a0748aa9-d81d-4657-9b23-e0ac0d0faf6afileName">with-a-space-Virtual-Service</con:setting>
  </con:settings>
  <con:properties/>
  <con:constraints>
    <con:congestion>0</con:congestion>
    <con:inputBandwidth>-1</con:inputBandwidth>
    <con:outputBandwidth>-1</con:outputBandwidth>
    <con:maxThreadPoolCapacity>20</con:maxThreadPoolCapacity>
    <con:coreThreadPoolCapacity>5</con:coreThreadPoolCapacity>
    <con:virtError>
      <con:start>0</con:start>
      <con:endless>true</con:endless>
    </con:virtError>
  </con:constraints>
  <con:headerValidator type="NONE"/>
</con:restMockService>
