<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="3ce10ea7-1b24-4c00-8584-0b4b06b48ef7" wadlVersion="http://wadl.dev.java.net/2009/02" name="https://petstore.swagger.io" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="3ce10ea7-1b24-4c00-8584-0b4b06b48ef7fileName">https%3A%2F%2Fpetstore.swagger.io</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>http://localhost:8088/</con:endpoint>
    <con:endpoint>https://petstore.swagger.io</con:endpoint>
  </con:endpoints>
</con:interface>
